<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{title}}</h1>

            {{!-- Show message if no categories are available --}}
            {{#unless categories.length}}
                <div class="col-md-12 text-center">
                    <strong>{{message}}</strong>
                </div>
            {{/unless}}

            {{!-- Add Category Button --}}
            <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>

            {{!-- Table for categories --}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th></th>  <!-- New column for delete button -->
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categories}}
                            <tr>
                                <td><a href="/items?category={{this.id}}">{{this.id}}</a></td>
                                <td><a href="/items?category={{this.id}}">{{this.name}}</a></td>
                                <td>
                                    <!-- Remove Category Link -->
                                    <a href="/categories/delete/{{this.id}}" class="btn btn-danger btn-sm">Remove</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
